$white: #FFFFFF;
$big-transparent: #ffffff26;
$black: #000;
$booh-bg-yellow: #FFF000;
$booh-yellow: #FFDE06;
$booh-blue: #05C3DE;
$booh-lightblue: #C7EAFF;
$booh-bg-lightblue: #DAF6FA;
$booh-lightyellow: #FFE5C7;
$booh-lightgreen: #C7FFD3;
$booh-teal: #05C3DE;
$booh-lilac: #DFC7FF;
$booh-lightred: #FFC7C7;
$booh-red: #D22630;
$booh-light: #F8F8F8;
$containter-content-max: 1360px;